body {background-color: #000008;}
h1 {color: #fb3597; font-family: Gotham; font-size: 40px;}
p{color: #95F3EB; font-family: Gotham; font-size: 15px;}
p{text-indent: 5em;}
h1{ text-align: center; }
body{text-align: center;}
img{align-content:center; 425px ; border-style:none;}
iframe{align-content:center; 425px;}
ul{color: #CBF395; text-decoration: none;}
li{color: #CBF395; text-align: left;list-style: none;}
